/* You can add global styles to this file, and also import other style files */
:root {
    --text-color: #333333;
    --border-color: #e0e0e0;
    --error-color: #d9534f;
    --success-color: #43a047;

    /* Your other SCSS variables here */
    --font-family: 'Encode Sans Expanded', sans-serif;
    --main-color: #55c87d;
    --light-color: #f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,
              rgba(145,158,171,.14) 0px 4px 5px 0px,
              rgba(145,158,171,.12) 0px 1px 10px 0px;
    --main-transition: 0.8s;
  }

  body {
    color: var(--text-color);  

  }
  nav{
    background-color: var(--main-color);
  }
  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .border-color {
    border-color: var(--border-color);
  }

  .text-main {
    color: var(--main-color);
  }

  .text-main-light {
    color: var(--light-color);
  }

  /* ... and so on for other styles */

  .main-btn {
    background-color: var(--main-color);
    color: var(--light-color);
    /* ... */
    transition: all var(--main-transition) ease;
  }


  .active-link {
    color: #fff !important;
    background-color: var(--text-color) !important;
    border-radius: 5px !important;
    cursor: pointer;
  }
